html, body {
    background-color: black;
    color: white;
    /* overflow: hidden;
    width   : 100%;
    height  : 100%; */
    margin  : 0;
    padding : 0;
}
.text1{font-size: 52px;
text-align: center;
/* float: left; */
font-family: 'Crash'; }
.text2{
text-align: left;
font-size: 28px;
font-family: 'Ionic Charge';
color: white;
}
#renderCanvas {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    height: 80%;
    touch-action: none;
}