html, body {
    background-color: black;
    color: white;
    overflow: hidden;
    width   : 100%;
    height  : 100%; 
    margin  : 0;
    padding : 0;
}
/* .text1{font-size: 52px;
text-align: left;
float: left;
font-family: 'Crash'; }
.view{
margin-top: 4%;
margin-left: 15%;
font-size: 18px;
font-family: 'Ionic Charge';
color: white;
} */
#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    /* border: 20px double white; */
}